:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400; /* Arancione */
  --fucsia: #ed008c; /* Fucsia */
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00; /* Arancione scuro per hover */
  --fucsia-hover: #c20074; /* Fucsia scuro per hover */
  --orange-light: #ffe9cc; /* Colore arancione chiaro */

  /* Pulsanti specifici */
  --primary-color: var(--orange); /* Arancione per il pulsante accetta */
  --secondary-color: var(--fucsia); /* Fucsia per il pulsante rifiuta */
  --hover-color: var(--orange-hover); /* Arancione scuro per hover */
  --hover-red-color: var(--fucsia-hover); /* Fucsia scuro per hover */

  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;

  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font line height */
  --line-height: 160%;
}

/* Corpo della pagina */
body {
  font-family: var(--font-family);
  background-color: var(--gray-light);
  color: var(--black);
  line-height: var(--line-height);
  margin: 0;
  padding: 0;
}

/* Contenitore principale delle prenotazioni*/
.containerPrenotazione {
  background-color: red;
  margin: 20px;
}

/* Box prenotazione */
.prenotazione-box {
  background-color: rgb(160, 120, 120);
  margin: 10px 0;
  padding: 20px;
}

/* Testo all'interno dei box */
.prenotazione-box p {
  font-size: 14px;
  padding: 0 2px;
}
.prenotazione-box p:first-child {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-bottom: 15px;
  font-size: 12px;
}

.button-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 0 0;
  gap: 30px;
}

/* Pulsanti - Stile comune */
.accetta-button,
.rifiuta-button,
.cancella-button {
  padding: 8px 25px;
}

/* Pulsante Accetta (Arancione) */
.accetta-button {
}

.accetta-button:hover {
}

/* Pulsante Rifiuta e Cancella (Fucsia) */
.rifiuta-button,
.cancella-button {
}

.rifiuta-button:hover,
.cancella-button:hover {
}

/* Stato "cancellato" */
.cancellate {
}

/* Stato "confermato" */
.confermate {
}
