:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --fucsia: #ed008c;
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00;
  --fucsia-hover: #c20074;
  --orange-light: #ffe9cc;
  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;
  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;
  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font line height */
  --line-height: 160%;
}

footer {
  background-color: var(--black); /* Colore di sfondo scuro per il footer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white); /* Colore del testo bianco */
  text-align: center; /* Allineamento del testo */
  font-weight: var(--font-weight-regular);
}

footer div {
  font-size: 16px;
  margin: 1rem 0; /* Distanza tra i div del footer */
}

footer div:not(#footer-logo, #footer-socials) img {
  width: 20px;
  height: 20px;
}

#footer-logo {
  margin: 3.5rem 0 2.5rem; /* Distanza sopra e sotto il logo */
  font-size: 22px;
  line-height: 2rem; /* Altezza della linea del testo */
}

#footer-location {
  margin: 0 0 1rem; /* Distanza per la sezione di localizzazione */
}

#footer-email {
  margin: 1rem 0 2.5rem; /* Distanza per l'email */
}

#footer-socials {
  display: flex;
  width: 50%; /* Occupa metà della larghezza del footer */
  flex-direction: row;
  justify-content: space-around; /* Spaziatura uniforme tra le icone social */
}

#footer-socials img {
  width: 28px;
  height: 28px;
}

#footer-copyright {
  font-size: 12px; /* Testo piccolo per il copyright */
  margin: 0 0 2rem; /* Distanza dal resto del footer */
}

footer div p {
  text-decoration: none;
}

/********************************************************************************/
/**                            MEDIA QUERIES                                   **/
/********************************************************************************/
/* Tablet */
@media screen and (min-width: 768px) {
}
/* Laptop Small*/
@media screen and (min-width: 992px) {
}

/* Laptop medium */
@media screen and (min-width: 1200px) {
}

/* Desktop large */
@media screen and (min-width: 1400px) {
}
