:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --fucsia: #ed008c;
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00;
  --fucsia-hover: #c20074;
  --orange-light: #ffe9cc;
  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;
  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;
  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font line height */
  --line-height: 160%;
}

footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-align: center;
  font-weight: var(--font-weight-regular);
}

footer div {
  font-size: 16px;
  margin: 1rem 0;
}

footer div:not(#footer-logo, #footer-socials) img {
  width: 20px;
  height: 20px;
}

#footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin: 3rem;
}

#footer-logo img {
  height: 40px;
}

#footer-location {
  margin: 0 0 1rem;
}

#footer-email {
  margin: 1rem 0 2.5rem;
}

#footer-socials {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
}

#footer-socials img {
  width: 28px;
  height: 28px;
}

#footer-copyright {
  font-size: 12px;
  margin: 0 0 2rem;
}

footer div p {
  text-decoration: none;
}

iframe {
  margin-bottom: 2rem;
  border-radius: 8px;
}

#footer-maps p {
  font-size: var(--font-size-medium);
  margin: 10px 0;
  font-weight: var(--font-weight-medium);
}

/********************************************************************************/
/**                            MEDIA QUERIES                                   **/
/********************************************************************************/
/* Tablet */
@media screen and (min-width: 768px) {
  #footer-logo {
    flex-direction: row;
    gap: 5rem;
    margin: 5rem;
  }
  #footer-logo img {
    height: 45px;
  }
}
/* Laptop Small*/
@media screen and (min-width: 992px) {
  #footer-logo img {
    height: 50px;
  }
}

/* Laptop medium */
@media screen and (min-width: 1200px) {
  #footer-logo img {
    height: 55px;
  }
  #footer-socials {
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3rem;
  }
  #footer-copyright {
    font-size: 14px;
    margin: 0 0 2rem;
  }
}

/* Desktop large */
@media screen and (min-width: 1400px) {
  #footer-logo img {
    height: 60px;
  }
}
