:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --fucsia: #ed008c;
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00;
  --fucsia-hover: #c20074;
  --orange-light: #ffe9cc;
  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;
  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;
  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font line height */
  --line-height: 160%;
}

#workshop {
  margin: 0;
  position: relative;
}

#workshop h2 {
  margin: 0 1.3rem 1.5rem;
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  margin-left: 1.3rem;
  margin-right: 1.3rem;
  width: calc(100% - 2.6rem);
}

.carousel-item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 65vh;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(0, 0, 0, 0.8) 30%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.68) 75%,
    rgba(0, 0, 0, 0) 100%
  );
}

.carousel-intro {
  position: absolute;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5em;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.carousel-intro h3 {
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  font-size: 25px;
  color: var(--white);
}

.carousel-intro a {
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fucsia);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-semi-bold);
  font-size: 18px;
  text-decoration: none;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel-dots {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.carousel-arrow {
  position: relative;
  transform: translateY(-40%);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.carousel-arrow:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-arrow img {
  width: 40px;
  height: 40px;
}

.carousel-arrow:first-of-type img {
  transform: rotate(180deg);
}

.carousel-arrow:first-of-type {
  margin-right: 10px;
}

.carousel-arrow:last-of-type {
  margin-left: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: var(--gray-light);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background: linear-gradient(
    90deg,
    #fef200,
    #ffd600,
    #ff812e,
    #ff2f6c,
    #ed008c
  );
}

/* Tablet */
@media screen and (min-width: 768px) {
  .carousel-container {
    margin-left: 5rem;
    margin-right: 5rem;
    width: calc(100% - 10rem);
  }

  .carousel-intro {
    width: 50%;
  }

  #workshop h2 {
    margin: 0 5rem 1.5rem;
  }
}

/* Laptop Small */
@media screen and (min-width: 992px) {
  .carousel-container {
    margin-left: 10rem;
    margin-right: 10rem;
    width: calc(100% - 20rem);
  }

  .carousel-intro {
    width: 50%;
  }

  #workshop h2 {
    margin: 0 10rem 1.5rem;
  }
}

/* Laptop Medium */
@media screen and (min-width: 1200px) {
  .carousel-container {
    margin-left: 15rem;
    margin-right: 15rem;
    width: calc(100% - 30rem);
  }

  .carousel-intro {
    width: 50%;
  }

  #workshop h2 {
    margin: 0 15rem 1.5rem;
  }
}

/* Desktop Large */
@media screen and (min-width: 1400px) {
  .carousel-container {
    margin-left: 20rem;
    margin-right: 20rem;
    width: calc(100% - 40rem);
  }

  #workshop h2 {
    margin: 0 20rem 1.5rem;
  }
}

/* Ultra Wide Screens */
@media screen and (min-width: 1600px) {
  .carousel-container {
    margin-left: 25rem;
    margin-right: 25rem;
    width: calc(100% - 50rem);
  }

  #workshop h2 {
    margin: 0 25rem 1.5rem;
  }
}
