:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --fucsia: #ed008c;
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00;
  --fucsia-hover: #c20074;
  --orange-light: #ffe9cc;
  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;
  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;
  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font line height */
  --line-height: 160%;
}

#faq h2 {
  margin-bottom: 0.5em;
}

.faq-container {
  padding: 0.5rem;
  border-bottom: 1px solid var(--black);
  transition: max-height 0.4s ease-out;
}

.faq-title {
  height: 3.8rem;
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-title h3 {
  font-size: var(--font-size-small);
  width: 90%;
  font-weight: var(--font-weight-semi-bold);
  line-height: 150%;
}

.faq-title img {
  transform: rotate(90deg);
  width: 20px;
  margin-left: 1.3rem;
  transition: transform 0.4s ease-out;
}

.faq-answer {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  cursor: pointer;
}

.faq-answer p {
  margin: 2em 0;
}

.faq-container.active .faq-title img {
  transform: rotate(-90deg);
}

.faq-container.active .faq-answer {
  max-height: 300px;
}
