:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --fucsia: #ed008c;
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00;
  --fucsia-hover: #c20074;
  --orange-light: #ffe9cc;

  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;

  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;

  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Line height */
  --line-height: 160%;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
}

main {
  background-color: var(--orange-light);
  padding: 2rem 1.3rem;
}

h2 {
  font-size: 35px;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 0.7em;
}

p {
  margin-bottom: 1.5em;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

label {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
}

input,
select,
textarea {
  width: 100%;
  height: 2.5rem;
  padding: 0.7rem;
  margin: 0.3rem 0 1rem;
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: var(--font-size-small);
}

textarea {
  resize: none;
  height: 200px;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray-light);
  font-weight: var(--font-weight-light);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--fucsia);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: var(--black);
}

button {
  width: 100%;
  height: 3rem;
  margin-top: 2em;
  background-color: var(--fucsia);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--font-size-small);
}

/* Layout styling for form elements */
#line-group {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}

/* Stile per i messaggi di errore */
.error-message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Stile per i messaggi di successo */
.success-message {
  color: green;
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
}

/********************************************************************************/
/**                            MEDIA QUERIES                                   **/
/********************************************************************************/

/* Tablet */
@media screen and (min-width: 768px) {
  main {
    padding: 3rem 8rem;
  }
}

/* Laptop Small */
@media screen and (min-width: 992px) {
  header {
    height: 8vh;
    padding: 0 3rem;
  }

  #nav-desktop {
    display: block;
    gap: 1rem;
  }

  #nav-mobile,
  #hamburger,
  #check {
    display: none;
  }

  main {
    margin-top: 8vh;
    padding: 3rem 15rem;
  }
}

/* Laptop Medium */
@media screen and (min-width: 1200px) {
  main {
    padding: 3rem 25rem;
  }
}

/* Desktop Large */
@media screen and (min-width: 1400px) {
  header {
    font-size: var(--font-size-medium);
  }
  main {
    padding: 3rem 25rem;
  }
}
