/*
* style.css
*/

:root {
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;
  --font-size-mobile: 16px;
  --font-size-tablet: 16px;
  --font-size-laptop: 18px;
  --font-size-desktop: 20px;
}

/* Set box-sizing rules */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Header */
header {
  width: 100vw;
  height: 10vh;
  background-color: var(--black);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  padding: 0 2rem;
  font-size: var(--font-size-mobile);
}

header img {
  width: 45px;
  height: auto;
  display: block;
}

/* Progress bar */
.progress-bar {
  background: var(--orange);
  height: 5px;
  width: 0%;
  position: fixed;
  top: 9.3vh;
  z-index: 1000;
  transition: width 0.3s ease;
}

/* Menu Hamburger (Mobile) */
#hamburger {
  cursor: pointer;
}

#check,
#nav-mobile {
  display: none;
}

#check:checked ~ #nav-mobile {
  display: block;
}

.body-no-scroll {
  overflow: hidden;
}

#check:checked ~ body {
  overflow: hidden;
}

#nav-mobile {
  position: absolute;
  top: 10vh;
  left: 0;
  background: var(--black);
  z-index: 100;
  width: 100%;
  height: 100vh;
}

#nav-mobile ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 2rem;
  margin: 0;
}

#nav-mobile li {
  margin: 1rem 0;
}

#nav-mobile a {
  color: var(--white);
  padding: 0;
  display: block;
  text-decoration: none;
}

/* Menu Desktop */
#nav-desktop {
  display: none;
}

#nav-desktop ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

#nav-desktop li {
  display: inline-block;
}

#nav-desktop a {
  color: var(--white);
  text-decoration: none;
  font-size: inherit;
}

/* Main */
main {
  margin-top: 10vh;
  letter-spacing: 0.06rem;
}

/* MEDIA QUERIES */

/* Tablet (769px) */
@media (min-width: 769px){
  header {
    font-size: var(--font-size-tablet);
  }
}

/* Laptop (1024px) */
@media (min-width: 1024px) {
  header {
    font-size: var(--font-size-laptop);
  }
  /* Mostra il menu desktop */
  #nav-desktop {
    display: flex; /* Cambia in flex o block in base alla struttura */
    gap: 1rem; /* Spaziatura tra gli elementi del menu */
  }

  /* Nascondi gli elementi del menu mobile */
  #nav-mobile,
  #hamburger,
  #check {
    display: none;
  }
}

/* Desktop (1440px) */
@media (min-width: 1440px) {
  header {
    font-size: var(--font-size-desktop);
  }
}
