:root {
  --background-color: #ffffff;
  --hero-text-color: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", serif;
}
header {
  width: 100vw;
  height: 10vh;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  z-index: 1000;
}

header img {
  width: 45px;
  height: 45px;
}

main {
  margin-top: 10vh;
}

#hero {
  position: relative;
  width: 100%;
  height: 90vh;
  z-index: 0;
}

#hero-bg {
  width: 100%;
  height: 100%;
  filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
}

#hero-bg-darkness {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#hero-content {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 280px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#main-text {
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h1 {
  color: var(--hero-text-color);
  font-size: 32px;
  text-align: center;
  line-height: 130%;
  width: 280px;
}

#main-text p {
  color: var(--hero-text-color);
  font-size: 18px;
  line-height: 160%;
  text-align: center;
}

button {
  width: 250px;
  height: 50px;
}

#cta-buttons {
  width: 250px;
}

#discover-more,
#book-now {
  border-radius: 1rem;
  font-size: 20px;
  cursor: pointer;
}

#discover-more {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #f19200;
  border-radius: 1rem;
  color: #f19200;
}

#book-now {
  margin-top: 1rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #f19200;
  border: 2px solid #ff7f50;
}

#double-arrow {
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

nav {
  position: fixed;
  top: 1%;
  right: 2%;
}
.progress-bar {
  background: #ff4163;
  height: 10px;
  width: 0%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.lorem {
  font-size: 1000%;
}
