:root {
  /* Colors */
  --white: #f4f4f4;
  --black: #272727;
  --orange: #ff8400;
  --fucsia: #ed008c;
  --gray-light: #b3b3b3;
  --orange-hover: #cc6a00;
  --fucsia-hover: #c20074;
  --orange-light: #ffe9cc;
  /* Font family */
  --font-family: "Montserrat", Arial, Verdana, Tahoma, sans-serif;
  /* Font size */
  --font-size-small: 16px;
  --font-size-medium: 18px;
  --font-size-big: 22px;
  /* Font weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  /* Font line height */
  --line-height: 160%;
}

/* Set box-sizing rules */
html {
  box-sizing: border-box;
  font-size: var(--font-size-small);
  font-family: var(--font-family);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
}

main {
  letter-spacing: 0.1rem;
  background-color: var(--background-color);
}

/** ----------------------------------------------------------------------------------------------------------- */
/** ----------------------------------------------------------------------------------------------------------- */
/** ----------------------------------------------------------------------------------------------------------- */
/** ----------------------------------------------------------------------------------------------------------- */
/** ----------------------------------------------------------------------------------------------------------- */

h2 {
  font-size: 22px;
  font-weight: var(--font-weight-semi-bold);
}

#about-us,
#workshop,
#faq {
  scroll-margin-top: 13vh;
}

#contact {
  scroll-margin-top: 8vh;
}

#about-us,
#faq {
  margin: 5rem 1.3rem;
}

#about-us p {
  margin-top: 1.5rem;
  font-size: 16px;
}

a:link,
a:visited {
  text-decoration: none;
}

#workshop {
  margin: 0; /* Rimuove margini per il workshop */
}

#workshop h2 {
  margin: 0 1.3rem 1.5rem; /* Distanza per il titolo del workshop */
}

/* Stile per i messaggi di errore */
.error-message {
  color: red;
  font-size: 0.875em;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Stile per i messaggi di successo */
.success-message {
  color: green;
  font-size: 1em;
  margin-top: 20px;
  font-weight: bold;
}
